.products {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjusting columns for responsiveness */
  grid-gap: 1em;
  padding: 0;
  margin: 2em;
}

.products li {
  border: 3px solid #333;
  text-align: left;
  padding: 1em;
}

.product {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.product figure {
  margin: 1em;
}

.product img {
  width: 100%;
}

.caption {
  font-size: 0.6em;
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjusting columns for smaller screens */
    margin: 1em;
  }
}
